# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [4]:
# Import your libraries:
import sklearn
import pandas as pd
from sklearn.model_selection import train_test_split as tts

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function.

In [5]:
# Your code here:
from sklearn.datasets import load_diabetes

diabetes=load_diabetes()

Let's explore this variable by looking at the different attributes. Do this by looking at the `keys()` of this variable.

In [6]:
# Your code here:
diabetes.keys()

dict_keys(['data', 'target', 'frame', 'DESCR', 'feature_names', 'data_filename', 'target_filename', 'data_module'])

The next step is to read the description of the dataset. Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable

In [7]:
# Your code here:
diabetes.DESCR

'.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - age     age in years\n      - sex\n      - bmi     body mass index\n      - bp      average blood pressure\n      - s1      tc, total serum cholesterol\n      - s2      ldl, low-density lipoproteins\n      - s3      hdl, high-density lipoproteins\n      - s4      tch, total cholesterol / HDL\n      - s5      ltg, possibly log of serum triglycerides level\n      - s6      glu, blood sugar level\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times the square root of `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)\n'

What are the variables in this dataset according to the description? List them in the markdown cell below

In [8]:
#age, sex, body mass index, average blood pressure, and six blood serum measurements.

#### Enter your answer here:

Now explore the data. Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). In the cell below find the shape of the numpy array contained in the data portion of the diabetes variable.

In [9]:
# Your code here:
dm = pd.DataFrame(diabetes.data, columns = diabetes.feature_names)
dm

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485
439,0.041708,0.050680,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064

# Challenge 2 - Perform Supervised Learning on the Dataset

#### The data has already been split to predictor and response variables. The response variable is in the `target` portion of the variable. 

Given this information, let's apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset. In the cell below, import the linear regression class from sklearn.

In [10]:
from sklearn.linear_model import LinearRegression as LinReg
from sklearn.model_selection import train_test_split as tts
import numpy as np

In [11]:

dm['target']=load_diabetes().target
X = dm.drop("target", axis=1)
y= dm.target
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

In [12]:
lr = LinReg()

Initialize the model in the variable `diabetes_model`

In [13]:
diabetes_model= lr.fit(X_train, y_train)

In the cell below, fit the model and print the intercept and coefficients of the model.

In [14]:
# Your code here:
print(f'Coef :{diabetes_model.coef_}\n')
print(f'Intercept: {diabetes_model.intercept_}')

Coef :[    3.95238075  -245.79860428   517.04298489   325.0213233
 -1049.41632459   672.54858248   197.55955739   188.14704554
   827.72107301    83.54384212]

Intercept: 152.7897666935205

# Bonus Challenge 1 - Conduct a Hypothesis Test on the Model

Once we have generated a linear model, we can test each coefficient using a t-test to see whether the confidence interval for the variable contains zero. We can also perform an overall F test to check whether at least one coefficient is significantly different from zero. 



Hint: use the statsmodels package.

Your result should look similar to this:

![ols](../ols-results.png)

In [15]:
import statsmodels.formula.api as smf
smf.ols(" y ~ X", data=dm).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.518
Model:                            OLS   Adj. R-squared:                  0.507
Method:                 Least Squares   F-statistic:                     46.27
Date:                Thu, 02 Mar 2023   Prob (F-statistic):           3.83e-62
Time:                        08:55:06   Log-Likelihood:                -2386.0
No. Observations:                 442   AIC:                             4794.
Df Residuals:                     431   BIC:                             4839.
Df Model:                          10
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    152.1335      2.576     59.061      0.000     147.071     157.196
X[0]         -10.0099     59.749     -0.168      0.867    -127.446     107.426
X[1]        -239.8156     61.222     -3.917      0.000    -360.147    -119.484
X[2]         519.8459     66.533      7.813      0.000     389.076     650.616
X[3]         324.3846     65.422      4.958      0.000     195.799     452.970
X[4]        -792.1756    416.680     -1.901      0.058   -1611.153      26.802
X[5]         476.7390    339.030      1.406      0.160    -189.620    1143.098
X[6]         101.0433    212.531      0.475      0.635    -316.684     518.770
X[7]         177.0632    161.476      1.097      0.273    -140.315     494.441
X[8]         751.2737    171.900      4.370      0.000     413.407    1089.140
X[9]          67.6267     65.984      1.025      0.306     -62.064     197.318
==============================================================================
Omnibus:                        1.506   Durbin-Watson:                   2.029
Prob(Omnibus):                  0.471   Jarque-Bera (JB):                1.404
Skew:                           0.017   Prob(JB):                        0.496
Kurtosis:                       2.726   Cond. No.                         227.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

# Challenge 2 - Peform Supervised Learning on a Pandas Dataframe

Now that we have looked at data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [16]:
auto = pd.read_csv('../auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [17]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [18]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [25]:
auto.columns

Index(['mpg', 'cylinders', 'displacement', 'horse_power', 'weight',
       'acceleration', 'model_year', 'car_name'],
      dtype='object')

In [28]:
auto_list= auto.drop(columns= ['mpg', 'cylinders', 'displacement', 'horse_power', 'weight','acceleration'])
newest= auto_list['model_year'].max()
newest_models=auto_list.loc[auto['model_year']==newest]
print(f'The newest cars are from {newest}')
print(f'The newest models are\n {newest_models}')

The newest cars are from 82
The newest models are
      model_year                               car_name
367          82                 \t"chevrolet cavalier"
368          82           \t"chevrolet cavalier wagon"
369          82          \t"chevrolet cavalier 2-door"
370          82         \t"pontiac j2000 se hatchback"
371          82                     \t"dodge aries se"
372          82                    \t"pontiac phoenix"
373          82               \t"ford fairmont futura"
374          82                     \t"amc concord dl"
375          82                \t"volkswagen rabbit l"
376          82                 \t"mazda glc custom l"
377          82                   \t"mazda glc custom"
378          82             \t"plymouth horizon miser"
379          82                     \t"mercury lynx l"
380          82                   \t"nissan stanza xe"
381          82                       \t"honda accord"
382          82                     \t"toyota corolla"
383          82                        \t"honda civic"
384          82                 \t"honda civic (auto)"
385          82                      \t"datsun 310 gx"
386          82              \t"buick century limited"
387          82  \t"oldsmobile cutlass ciera (diesel)"
388          82         \t"chrysler lebaron medallion"
389          82                     \t"ford granada l"
390          82                   \t"toyota celica gt"
391          82                  \t"dodge charger 2.2"
392          82                   \t"chevrolet camaro"
393          82                    \t"ford mustang gl"
394          82                          \t"vw pickup"
395          82                      \t"dodge rampage"
396          82                        \t"ford ranger"
397          82                         \t"chevy s-10"

In [31]:
auto_list= auto.drop(columns= ['mpg', 'cylinders', 'displacement', 'horse_power', 'weight','acceleration'])
oldest= auto_list['model_year'].min()
oldest_models=auto_list.loc[auto['model_year']==oldest]
print(f'The newest cars are from {oldest}')
print(f'The newest models are\n {oldest_models}')

The newest cars are from 70
The newest models are
     model_year                          car_name
0           70     \t"chevrolet chevelle malibu"
1           70             \t"buick skylark 320"
2           70            \t"plymouth satellite"
3           70                 \t"amc rebel sst"
4           70                   \t"ford torino"
5           70              \t"ford galaxie 500"
6           70              \t"chevrolet impala"
7           70             \t"plymouth fury iii"
8           70              \t"pontiac catalina"
9           70            \t"amc ambassador dpl"
10          70           \t"dodge challenger se"
11          70            \t"plymouth 'cuda 340"
12          70         \t"chevrolet monte carlo"
13          70       \t"buick estate wagon (sw)"
14          70         \t"toyota corona mark ii"
15          70               \t"plymouth duster"
16          70                    \t"amc hornet"
17          70                 \t"ford maverick"
18          70                  \t"datsun pl510"
19          70  \t"volkswagen 1131 deluxe sedan"
20          70                   \t"peugeot 504"
21          70                   \t"audi 100 ls"
22          70                      \t"saab 99e"
23          70                      \t"bmw 2002"
24          70                   \t"amc gremlin"
25          70                     \t"ford f250"
26          70                     \t"chevy c20"
27          70                    \t"dodge d200"
28          70                      \t"hi 1200d"

Check the dataset for missing values and remove all rows containing at least one missing value.

In [18]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [19]:
auto.dropna(how= 'any',inplace=True)

In [20]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [21]:
auto.cylinders.value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

In [22]:
auto.drop(columns=['car_name'],inplace=True)

In [23]:
from sklearn.linear_model import LinearRegression as LinReg
import statsmodels.formula.api as smf

In [24]:
X = auto.drop('mpg', axis=1)
y= auto.mpg
X_train, X_test, y_train, y_test = tts(X, y, test_size = 0.2)

In [25]:
smf.ols(" y ~ X", data=auto).fit().summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.809
Model:                            OLS   Adj. R-squared:                  0.806
Method:                 Least Squares   F-statistic:                     272.2
Date:                Thu, 02 Mar 2023   Prob (F-statistic):          3.79e-135
Time:                        07:35:53   Log-Likelihood:                -1036.5
No. Observations:                 392   AIC:                             2087.
Df Residuals:                     385   BIC:                             2115.
Df Model:                           6
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept    -14.5353      4.764     -3.051      0.002     -23.902      -5.169
X[0]          -0.3299      0.332     -0.993      0.321      -0.983       0.323
X[1]           0.0077      0.007      1.044      0.297      -0.007       0.022
X[2]          -0.0004      0.014     -0.028      0.977      -0.028       0.027
X[3]          -0.0068      0.001    -10.141      0.000      -0.008      -0.005
X[4]           0.0853      0.102      0.836      0.404      -0.115       0.286
X[5]           0.7534      0.053     14.318      0.000       0.650       0.857
==============================================================================
Omnibus:                       37.865   Durbin-Watson:                   1.232
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               60.248
Skew:                           0.630   Prob(JB):                     8.26e-14
Kurtosis:                       4.449   Cond. No.                     8.53e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 8.53e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

Now we will the dataset that we processed and peform linear regression on this data to predict the mpg for each vehicle. Initialize the model in the cell below.

In [26]:
# Your code here:
lr = LinReg()

Next, fit the model in the cell below.

In [27]:
# Your code here:
auto_model= lr.fit(X_train, y_train)

# Challenge 3 - Evaluate the Model

the r squared score of a model tells us how much variation is explained by the model. In a typical dataset, most observations differ from the mean. When we create a model, we are trying to generate an equation that will tell us by how much each observation will differ from the mean. Obviously, the vast majority of models are not perfect. They can only predict some of the variation from the mean but not all of it. We attribute the rest of the difference between the actual value and the mean to random error. We would like random error to explain the as little as possible of the variation. This is why the r squared score is an important metric.

In the next cell, compute the r squared score of the model. Do this by first computing the predicted values and assign them to `y_pred`.

In [28]:
from sklearn import metrics

In [29]:
y_pred= auto_model.predict(X_test)

In [30]:
print(f'R score: {metrics.r2_score(y_test, y_pred)}')

R score: 0.7514654158896281

#### Our next step is to evaluate the model using the test data. We would like to ensure that our model is not overfitting the data. This means that our model will not be able to generalize well outside of the training data.

In the cell below, use the model to generate the predicted values for the training data and assign them to `y_test_pred`. Compute the r squared score for the test data by comparing the oberserved `y_test` data and the predicted `y_test_pred`.

In [31]:
y_test_pred = metrics.r2_score(y_test, y_pred)

In [32]:
y_test_pred

0.7514654158896281

# Challenge 4 - Improve the Model Fit

While the most common way to improve the fit of a model is by using regularization, there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [33]:
# Your code here:

X_train09, X_test09, y_train09, y_test09 = tts(X, y, test_size = 0.1)

Initialize a new model. Name this model `auto_model09`. Fit the model to the new sample data.

In [34]:
# Your code here:
lr = LinReg()
auto_model09= lr.fit(X_train, y_train)

Compute the predicted values and r squared score for our new model and new sample data.

In [35]:
# Your code here:
y_pred09= auto_model.predict(X_test09)
y_test_pred09 = metrics.r2_score(y_test09, y_pred09)

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [36]:
print(f'R score: {metrics.r2_score(y_test09, y_pred09)}')

R score: 0.7842172840527046

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [37]:
# Your code here:

Fit the model and print the ranking

In [38]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_train_reduced`, `y_test_reduced`. Use an 80% split.

In [39]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [40]:
# Your code here: